body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.panel-default > .panel-heading {
    background-color: #636363;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #009871;
}