/*Album*/
.row.album {
    margin-top: 60px;
}

.form-group .img-thumbnail {
    max-height: 200px;
}

.masonry{
    -moz-column-width: 15em;
    -webkit-column-width: 10em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}

.item {
    display: inline-block;
    padding:  .25rem;
    width:  100%;
}

.album .img-thumbnail {
    border: 5px solid #A7A5A5;
    border-radius: 8px;
}