{% extends 'ElephantAlbumBundle:Album:index.html.twig' %}

{% block page_h1 %}<h1>{{ 'elephant.album.shared' | trans }}</h1>{% endblock page_h1 %}

{% block createAlbums %}
{% endblock createAlbums %}